body{
    margin:0;
    font-family:Segoe UI,Arial;
    background:#f4f6fb;
}

.page{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:30px;
}

.top-buttons{
    margin-bottom:20px;
}

.top-buttons button{
    padding:10px 20px;
    margin:0 5px;
    border:none;
    border-radius:20px;
    cursor:pointer;
    background:#ddd;
}

.top-buttons .active{
    background:#4f46e5;
    color:white;
}

.card{
    background:white;
    width:400px;
    padding:25px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

h2{
    text-align:center;
    margin-bottom:20px;
}

.field{
    margin-bottom:15px;
}

label{
    display:block;
    font-weight:600;
    margin-bottom:5px;
}

input,select{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:14px;
}

input:focus,select:focus{
    outline:none;
    border-color:#4f46e5;
}

.submit-btn{
    width:100%;
    padding:12px;
    border:none;
    background:#4f46e5;
    color:white;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
}

.submit-btn:hover{
    background:#4338ca;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
}

th,td{
    border:1px solid #ddd;
    padding:8px;
    text-align:center;
}

th{
    background:#4f46e5;
    color:white;
}
